# Bytecode & cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/

# Git
.git/
.gitignore

# Env files
.env

# Docker setup files themselves
.dockerignore
Dockerfile
docker-compose.yml

# Editor configs
.vscode/
*.swp
*.bak

# SQLite or leftover dev data 
*.db
data/

