<!DOCTYPE html>
<html>
<head>
    <title>Create Flashcard</title>
</head>

<body>
    <h2>Create a New Flaschard</h2>

    <form method="POST">
        <label for="question">Question:</label><br>
        <input type="text" name="question"required><br><br>

        <label for="answer">Answer:</label><br>
        <input type="text" name="answer"required><br><br>

        <label for="topic">Topic (optional):</label><br>
        <input type="text" name="topic"required><br><br>

        <button type="submit">Create Flaschard</button>
    </form>

    <p><a href="{{ url_for('main.home') }}">Back to Home</a></p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>