<!DOCTYPE html>
<html>
<head>
    <title>Create Topic</title>
</head>

<body>
    <h2>Create a New Topic</h2>

    <form method="POST">
        <label for="name">Topic Name:</label><br>
        <input type="text" name="name" required><br><br>

        <button type="submit">Create Topic</button>
    </form>

    <p><a href="{{ url_for('main.create_flashcard') }}">Create Flashcard</a></p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
</body>
</html>